<%- include('./includes/header.ejs') %>

<main class="main">

	<div class="container">

		<h1 class="h1">Recipies</h1>

		<div class="recipes">

			<% if(recipes.length > 0) {%>

				<% recipes.forEach(function(recipe) { %>
	
					<div class="recipe">
	
						<img src="<%=recipe.imageURL%>"
							alt="">
	
						<div class="recipe__body">
	
							<a href="/recipe/<%=recipe.url%>" class="recipe__title"><%=recipe.title%></a>
	
							<div class="recipe__short-descr"><%=recipe.description%></div>
	
							<div class="recipe__buttons">
	
								<a href="" class="button button--1 recipe__button">Edit</a>
	
								<button class="button button--2 recipe__button js-delete-recipe">Delete</button>
	
							</div>
	
						</div>
	
					</div>
				
				<% }) %>

			<% } else {%>

				<p>No recipes</p>
			
			<% } %>

			<div class="pagination">

				<% if( current > 2)  {%>

					<a href="/archive/<%= Number(current) - 1 %>" class="pagination__link">&#8592; Назад</a>

				<%  } %>

				<% if( current == 2)  {%>

					<a href="/" class="pagination__link">На Главную</a>

				<%  } %>

				<% if( pages > 0 && current < pages )  {%>

					<a href="/archive/<%= Number(current) + 1 %>" class="pagination__link">Вперед &#8594;</a>

				<%  } %>

			</div>

		</div>

	</div>

</main>

</div>

</div>

<div class="popup" id="delete-popup">

	<div class="popup__inner">

		<div class="popup__title">Are you sure you want to delete recepe?</div>

		<div class="popup__buttons">

			<button class="button button--1 js-close-popup">Yes</button>

			<button class="button button--3 js-close-popup">No</button>

		</div>

	</div>

</div>

<%- include('./includes/footer.ejs') %>