<%- include('./includes/header.ejs') %>

<main class="main">

	<div class="container">

		<h1 class="h1"><%=recipe.title%></h1>

		<div class="one-recipe">

			<img src="<%=recipe.imageURL%>"
				alt="" class="one-recipe__img">

			<div class="one-recipe__block one-recipe__description">

				<div class="one-recipe__title">Recipe description</div>

				<span><%=recipe.description%></span>

			</div>

			<div class="one-recipe__block one-recipe__ingridients">

				<div class="one-recipe__title">Ingredients needed:</div>

				<ul class="one-recipe-list">
					<% recipe.ingredients.forEach(function(ingredient) { %>
						<li class="one-recipe-list__item"><%=ingredient%></li>
					<% }) %>
				</ul>

			</div>

			<div class="one-recipe__block one-recipe__ingridients">

				<div class="one-recipe__title">Reciepe instructions</div>

				<div><%=recipe.instructions%></div>

			</div>

			<a href="/" class="button button--1 one-recipe__button">Back</a>

		</div>

	</div>

</main>

</div>

</div>

<%- include('./includes/footer.ejs') %>